@import url('https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css');

:root {
  --app-bg: transparent;
  --app-blur: 6px;
  --app-margin: 12px;
  --app-radius: 8px;
  --accent-hue: 360;
  --accent-saturation: 100%;
  --accent-lightness: 100%;
  --accent-opacity: 0.25;
  --sidebar-color: rgba(0,0,0,0.6);
  --main-content-color: rgba(0,0,0,0.2);
  --undefined: 0;
  --interactive-normal: #aaa;
  --interactive-hover: #ddd;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --undefined: 0;
  --background-modifier-hover: rgba(255,255,255,0.075);
  --background-modifier-selected: rgba(255,255,255,0.125);
  --message-color: rgba(0,0,0,0.4);
  --message-radius: 8px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --undefined: 0;
  --reply-hue: 360;
  --reply-saturation: 100%;
  --reply-lightness: 100%;
  --reply-opacity: 0.05;
  --textarea-color: 255,255,255;
  --textarea-alpha: 0.1;
  --textarea-alpha-focus: 0.15;
  --textarea-radius: 22px;
  --card-color: rgba(0,0,0,0.4);
  --card-color-hover: rgba(0,0,0,0.5);
  --card-color-select: rgba(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
}
