window,
window.background {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Optional: Make all widgets transparent */
* {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}

window box notebook stack box combobox popover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}