#XfceNotifyWindow {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

#XfceNotifyWindow:hover {
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.8);
}

#XfceNotifyWindow image {
    color: white;
}

#XfceNotifyWindow label {
    color: white;
}
#XfceNotifyWindow label#summary {
    padding: 15px;
    font-size: 15px;
    font-weight: Bold;
}
#XfceNotifyWindow label#body {
    color: white;
    font-size: 12pt;
    padding: 7px;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: rgba(0,0,0,0.85);
    color: white;
}