#XfceNotifyWindow {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
}

#XfceNotifyWindow:hover {
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.8);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #ffffff;
}

#XfceNotifyWindow label#summary {
    padding: 20px;
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: rgba(0,0,0,0.85);
    color: #ffffff;
}