* {
    font-family: "JetBrainsMono NF";
    font-size: 12px;
    color: #ffffff;
}

window#waybar {
    background-color: rgba(45, 45, 45, 0.4);
    border-top: 3px solid rgba(100, 114, 125, 0.25);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
}

#taskbar button {
    padding: 0px 10px 0px 10px;
    margin: 5px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 16px;
    border-color: rgba(255, 255, 255, 0.30);
}

#taskbar button.active {
    background-color: rgba(100, 100, 100, 0.4);
}

#taskbar button.urgent {
    background-color: rgba(255, 0, 0, 0.65);
}

#taskbar button.maximized,
#taskbar button.minimized,
#taskbar button.fullscreen {
    background-color: rgba(255, 255, 0, 0.4);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#custom-emote,
#custom-rofi,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#keyboard-state,
#mpd {
    margin: 20px 5px 20px 5px;
    color: #ffffff;
}


#custom-gpuload,
#cpu,
#custom-gputemperature,
#custom-tempcpu {
    margin: 20px 0px 20px 0px;
}

#custom-cpulogo,
#custom-gpulogo {
    margin: 20px 5px 20px 5px;
}

#custom-pacman,
#tray {
    margin: 20px 20px 20px 20px;
}

#memory {
    margin: 20px 20px 20px 10px;
}

#idle_inhibitor,
#custom-fan,
#pulseaudio {
    margin: 20px 10px 20px 10px;
}

#network {
    margin: 20px 15px 20px 5px;
}

#custom-rofi{
    padding: 0px 0px 0px 20px;
}

#custom-power {
    margin-right: 25px;
}

menu {
    background: rgba(20, 20, 30, 0.85);
    color: #ffffff;
}

menuitem, menu {
    border-radius: 15px;
}

#window {
    margin: 0px 10px 0px 10px;
}

#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
}

#clock {
    font-size: 15px;
}

#battery {
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber.muted {
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-gputemperature.critical,
#custom-tempcpu.critical {
    color:red;
}

#tray {
}

#tray *{
    margin: 0px 5px 0px 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
	background-color: transparent;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    font-weight: bolder;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}